<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <div style="min-height: 20vh;min-width: 40vh;background-color:#65BA69;">
            logo
        </div>
        <mat-list>
            <mat-list-item [routerLink]="['misMascotas']" [state]="userState">
                <mat-icon mat-list-icon>favorite</mat-icon>
                <div mat-line>Mis mascotas</div>
              </mat-list-item>
            <mat-list-item [routerLink]="['historia']" [state]="userState">
              <mat-icon mat-list-icon>history</mat-icon>
              <div mat-line>Historia</div>
            </mat-list-item>
            <mat-list-item [routerLink]="['citas']" [state]="userState">
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                <div mat-line>Citas</div>
              </mat-list-item>
              <mat-list-item >
                <mat-icon mat-list-icon>storefront</mat-icon>
                <div mat-line>Tienda</div>
              </mat-list-item>
          </mat-list>
    </mat-drawer>
    <mat-drawer-content >
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
