.example-container {
    width: 100%;
    height: 100%;
}

mat-list-item{
    cursor: pointer;
}

mat-list-item:hover {
    background-color: #aaaaaa;
}

::ng-deep .example-container[_ngcontent-elr-c79]{
    margin-top: 0px;
}