<mat-toolbar>
    <a [routerLink]="['../../home/misMascotas']" [state]="userState">
        <mat-icon style="color: white;margin-left: 100px;" aria-hidden="false" aria-label="Example home icon">close
        </mat-icon>
    </a>
</mat-toolbar>
<div class="one">

    <div class="two">

        <mat-card class="example-card">

            <img mat-card-image src="" alt="Logo">
            <mat-card-content>

                <form [formGroup]="formAddPet" (ngSubmit)="addPet(formAddPet)">
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: white;">Nombre de la mascota</mat-label>
                        <input matInput autocomplete="off" formControlName="name">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label style="color: white;">Tipo mascota</mat-label>
                        <mat-select style="color: white;" formControlName="petType">
                            <mat-option value="CAT">Gato</mat-option>
                            <mat-option value="DOG">Perro</mat-option>
                            <mat-option value="FISH">Pez</mat-option>
                            <mat-option value="OTHER">otro</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label style="color: white;">Tamaño mascota</mat-label>
                        <mat-select style="color: white;" formControlName="petSize">
                            <mat-option value="SMALL">pequeño</mat-option>
                            <mat-option value="MEDIUM">Meidano</mat-option>
                            <mat-option value="LARGE">Grande</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label style="color: white;">Edad</mat-label>
                        <input type="number" matInput autocomplete="off" formControlName="age">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label style="color: white;">Raza</mat-label>
                        <input matInput autocomplete="off" formControlName="race">
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label style="color: white;">Descripcion</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>

                    <button mat-raised-button class="button-size" type="submit">Agregar nueva</button>
                </form>

            </mat-card-content>

        </mat-card>


    </div>

</div>