mat-toolbar{
	background-color: #65BA69;
	
}
.one{
	background-color:#7AC943;
	min-height: 90vh;
	margin: auto;
	position: relative;
}

.two{
	width: 50vh;
	min-height: 75vh;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}


.example-form {
	width: 95%;
	margin-left: 5%;
	color: white;
  }
  
  .example-full-width {
	width: 95%;
	margin: auto;
	color: white;
  }

  ::ng-deep .mat-select-value{
	  color: white;
  }

  ::ng-deep .mat-focused .mat-form-field-label {
	/*change color of label*/
	color: white !important;
   }
  
   ::ng-deep.mat-form-field-underline {
	/*change color of underline*/
	background-color: white !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: white !important;;
  }

  .button-size{
	color: #7AC943;
	margin-left: 5%;
	width: 90%;
	margin-top: 1px;
}


.example-card {
	background-color:#7AC943;
	width: 100%;
	height: 100%;
  }