<br>
<mat-card class="example-card">
    <mat-list>
        <div mat-subheader>Mis mascotas</div>
        <mat-list-item *ngFor="let pet of pets">
          <mat-icon mat-list-icon>pets</mat-icon>
          <div mat-line>{{pet.name}}</div>
          <div mat-line> {{pet.petType}} </div>
          <span class="example-spacer"></span>
          <mat-icon aria-hidden="false" style="cursor: pointer;">edit</mat-icon>

        </mat-list-item>
        <mat-divider></mat-divider>
        <br>
        <div mat-subheader>
            <button mat-raised-button [routerLink]="['../../agregarMascota']" [state]="userState">Agregar nueva</button>
        </div>
        
      </mat-list>
</mat-card>

