<br>
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Pedir cita</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="formAppointment" (ngSubmit)="addAppointment(formAppointment)">
        <mat-card-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="typeAppointment">
                <mat-radio-button value="MEDICAL_APPOINTMENT" class="example-radio-button">
                    Cita medica
                </mat-radio-button>
                <mat-radio-button value="VACCINATION_APPOINTMENT" class="example-radio-button">
                    Vacunacion
                </mat-radio-button>
                <mat-radio-button value="DEWORMING_APPOINTMENT" class="example-radio-button">
                    Desparacitacion
                </mat-radio-button>
                <mat-radio-button value="BATH_APPOINTMENT" class="example-radio-button">
                    Baño
                </mat-radio-button>
                <mat-radio-button value="HAIRCUT_APPOINTMENT" class="example-radio-button">
                    Corte de cabello
                </mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
                <input matInput type="datetime-local" placeholder="fecha-hora" formControlName="dateTime">
            </mat-form-field>
        </mat-card-content>

        <mat-form-field appearance="fill">
            <mat-label>Mascota</mat-label>
            <mat-select formControlName="petId">
                <mat-option value="{{pet.id}}" *ngFor="let pet of pets">
                    {{pet.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-card-actions>
            <button mat-button type="submit">Pedir cita</button>
        </mat-card-actions>
    </form>
</mat-card>