.example-card {
    max-width: 90%;
    margin: auto;
    margin-top: auto;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }