<div class="one">
    <div class="two">
        <div class="three">
            <mat-grid-list cols="1" rowHeight="2:1">
                <mat-grid-tile>
                    <span style="color: white;">logo</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                    <div style="display:inline-block;">
                        <button mat-button class="button-size" style="color:#9cada4 ;" disabled>Iniciar Sesion con</button>
                        <button 
                        (click)="signInWithFB()"
                        mat-raised-button 
                        style="background-color: #3e489a;"
                        class="button-size">
                            FaceBook
                        </button>
                        <button 
                        (click)="signInWithGoogle()"
                        mat-raised-button 
                        style="background-color: red;" 
                        class="button-size">
                            Google
                        </button>
                    </div>
                </mat-grid-tile>
                
                <mat-grid-tile >
                    
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>

