.one{
	background-image: -webkit-linear-gradient(100deg, #f2f2f2 60%, #65BA69 40%);
	min-height: 100vh;
	margin: auto;
	position: relative;
}

.two{
	width: 50vh;
	min-height: 75vh;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 31px 0px rgba(0,0,0,0.75);
	
}

.three{
	position: relative;
	bottom: 0;
}

.button-size{
	color: #fff;
	margin-left: 5%;
	width: 90%;
	margin-top: 10px;
}

  

