.example-card {
    max-width: 90%;
    height: 90%;
    margin: auto;
    margin-top: auto;
}

.example-container {
    width: 80%;
    height:80%;
    border: 1px solid #555;
    margin: auto;
    margin-left: 5%; 
}

mat-drawer{
    width: 50%;
}