<br>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened style="background-color:#65BA69; color: white;">

        <span>Nombre</span>
        <br>
        <mat-form-field appearance="fill">
            <mat-select [(value)]="selected">
                <mat-option *ngFor="let pet of pets" [value]="pet">
                    {{pet.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br>
        <span>
            Tipo
            <br>
            <span *ngIf="selected">
                {{selected.petType}}
                <br>
            </span>
        </span>
        <br>
        <span>
            Raza
            <br>
            <span *ngIf="selected">
                {{selected.race}}<br>
            </span>
        </span>
        <br>
        <span>
            Raza
            <br>
            <span *ngIf="selected">
                {{selected.age}} Años
                <br>
            </span>
        </span>

    </mat-drawer>
    <mat-drawer-content>
        <div *ngIf="selected">
            <mat-list>
                <div mat-subheader><H2>Historia</H2></div>
                <mat-list-item *ngFor="let appointment of selected.appointments">
                  <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
                  <div mat-line>{{appointment.typeAppointment}}</div>
                  <div mat-line> {{appointment.dateTime | date}} </div>
                </mat-list-item>
              </mat-list>
        </div>
        
    </mat-drawer-content>
</mat-drawer-container>
<br>